<div id="myModal">
  <div class="modal-header">
    <div class="modal-title h4">Eliminar</div>
  </div>
  <div class="modal-body">
    <span>¿Está seguro que desea eliminar este producto?</span>
  </div>
  <div class="modal-footer">
    <div>
      <button (click)="delete()" class="btn btn-outline-danger btn-elevate mx-2" type="button">
        Eliminar
      </button>
      <button (click)="close()" class="btn btn-outline-secondary btn-elevate" type="button">
        Cancelar
      </button>
    </div>
  </div>

</div>
